// ### Primary
$Lineargradient : hsl(249, 99%, 64%) ;//(active input border)
$Lineargradient1: hsl(278, 94%, 30%); //(active input border)
$Red : hsl(0, 100%, 66%); //(input errors)

// ### Neutral

$White: hsl(0, 0%, 100%);
$Lightgrayishviolet: hsl(270, 3%, 87%);
$Darkgrayishviolet: hsl(279, 6%, 55%);
$Verydarkviolet: hsl(278, 68%, 11%);