@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: auto;
}

.bg-card {
  float: left;
  font-family: "Space Grotesk";
  background: url("/images/bg-main-desktop.png");
  height: 100vh;
  width: 300px;
}
.bg-card .card-fornt {
  position: absolute;
  left: 95px;
  top: 180px;
  padding: 1.5rem;
  width: 320px;
  height: 320px;
  background: url("/images/bg-card-front.png");
  background-repeat: no-repeat;
  background-size: contain;
  color: hsl(0, 0%, 100%);
  font-weight: 500;
}
.bg-card .card-fornt .card-logo {
  background: url("/images/card-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 60px;
  height: 30px;
}
.bg-card .card-fornt .card-number {
  letter-spacing: 2px;
  font-weight: 200;
  padding: 2.5rem 0 1rem 0;
  font-size: larger;
}
.bg-card .card-fornt .card-info {
  display: flex;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
  justify-content: space-between;
}
.bg-card .card-back {
  position: relative;
  background: url("/images/bg-card-back.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 320px;
  height: 320px;
  top: 400px;
  left: 140px;
}
.bg-card .card-back .card-cvc {
  color: hsl(0, 0%, 100%);
  position: absolute;
  top: 25%;
  font-size: 14px;
  transform: translateY(-25%);
  right: 35px;
}

.form-submit {
  font-family: "Space Grotesk";
  height: 100vh;
  width: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-submit .form {
  padding: 0.5rem 0;
}
.form-submit .form h4 {
  padding: 0 0 0.5rem 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
}
.form-submit .form #cname, .form-submit .form #cnumber {
  font-weight: 700;
  font-size: 16px;
  width: 100%;
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: none;
  border: 1px solid hsl(270, 3%, 87%);
}
.form-submit .form #cname:is(.form-submit .form #cname:hover, .form-submit .form #cname:focus, .form-submit .form #cnumber:hover, .form-submit .form #cnumber:focus), .form-submit .form #cnumber:is(.form-submit .form #cname:hover, .form-submit .form #cname:focus, .form-submit .form #cnumber:hover, .form-submit .form #cnumber:focus) {
  border: 1px solid hsl(249, 99%, 64%);
  outline: 0;
}
.form-submit .form #cname::-moz-placeholder, .form-submit .form #cnumber::-moz-placeholder {
  color: rgba(142, 133, 147, 0.5);
}
.form-submit .form #cname::placeholder, .form-submit .form #cnumber::placeholder {
  color: rgba(142, 133, 147, 0.5);
}
.form-submit .form .invalidinput {
  font-weight: 700;
  font-size: 16px;
  width: 100%;
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: none;
  border: 1px solid hsl(0, 100%, 66%) !important;
}
.form-submit .form .invalidinput::-moz-placeholder {
  color: rgba(142, 133, 147, 0.5);
}
.form-submit .form .invalidinput::placeholder {
  color: rgba(142, 133, 147, 0.5);
}
.form-submit .form .errorms {
  visibility: hidden;
  padding: 0.2rem 0 0 0;
  font-size: 12px;
  color: hsl(0, 100%, 66%);
}
.form-submit .form:nth-of-type(3) {
  display: inline-block;
  width: 50%;
}
.form-submit .form:nth-of-type(3) #cexp1, .form-submit .form:nth-of-type(3) #cexp2 {
  font-weight: 700;
  font-size: 16px;
  width: 40%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  border: 1px solid hsl(270, 3%, 87%);
}
.form-submit .form:nth-of-type(3) #cexp1:is(.form-submit .form:nth-of-type(3) #cexp1:hover, .form-submit .form:nth-of-type(3) #cexp1:focus, .form-submit .form:nth-of-type(3) #cexp2:hover, .form-submit .form:nth-of-type(3) #cexp2:focus), .form-submit .form:nth-of-type(3) #cexp2:is(.form-submit .form:nth-of-type(3) #cexp1:hover, .form-submit .form:nth-of-type(3) #cexp1:focus, .form-submit .form:nth-of-type(3) #cexp2:hover, .form-submit .form:nth-of-type(3) #cexp2:focus) {
  border: 1px solid hsl(249, 99%, 64%);
  outline: 0;
}
.form-submit .form:nth-of-type(3) #cexp1::-moz-placeholder, .form-submit .form:nth-of-type(3) #cexp2::-moz-placeholder {
  color: rgba(142, 133, 147, 0.5);
}
.form-submit .form:nth-of-type(3) #cexp1::placeholder, .form-submit .form:nth-of-type(3) #cexp2::placeholder {
  color: rgba(142, 133, 147, 0.5);
}
.form-submit .form:nth-of-type(3) .invalidinput {
  font-weight: 700;
  font-size: 16px;
  width: 40%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  border: 1px solid hsl(0, 100%, 66%);
}
.form-submit .form:nth-of-type(3) .invalidinput::-moz-placeholder {
  color: rgba(142, 133, 147, 0.5);
}
.form-submit .form:nth-of-type(3) .invalidinput::placeholder {
  color: rgba(142, 133, 147, 0.5);
}
.form-submit .form:nth-of-type(4) {
  display: inline-block;
  width: 48.9%;
}
.form-submit .form:nth-of-type(4) #ccvc {
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: none;
  border: 1px solid hsl(270, 3%, 87%);
}
.form-submit .form:nth-of-type(4) #ccvc:is(.form-submit .form:nth-of-type(4) #ccvc:hover, .form-submit .form:nth-of-type(4) #ccvc:focus) {
  border: 1px solid hsl(249, 99%, 64%);
  outline: 0;
}
.form-submit .form:nth-of-type(4) #ccvc::-moz-placeholder {
  color: rgba(142, 133, 147, 0.5);
}
.form-submit .form:nth-of-type(4) #ccvc::placeholder {
  color: rgba(142, 133, 147, 0.5);
}
.form-submit #submit {
  font-family: "Space Grotesk";
  color: hsl(0, 0%, 100%);
  width: 100%;
  border-radius: 0.5rem;
  border: 0;
  outline: 0;
  background-color: hsl(278, 68%, 11%);
  margin-top: 1rem;
  padding: 0.8rem;
  font-size: 18px;
  cursor: pointer;
}
.form-submit #submit:hover {
  background-color: rgba(33, 9, 47, 0.9);
}
.form-submit .ty {
  display: none;
  width: 350px;
  text-align: center;
  font-family: "Space Grotesk";
}
.form-submit .ty .image {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background: url("/images/icon-complete.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 70px;
  height: 70px;
}
.form-submit .ty h1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 26px;
  letter-spacing: 2px;
  padding: 16px 0;
}
.form-submit .ty p {
  color: hsl(279, 6%, 55%);
  margin-bottom: 50px;
}
.form-submit .ty #submitreturn {
  padding: 1rem;
  width: 100%;
  font-size: 18px;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 10px;
  background-color: hsl(278, 68%, 11%);
  font-weight: 500;
}
.form-submit .ty #submitreturn:hover {
  background-color: rgba(33, 9, 47, 0.9);
}

@media screen and (max-width: 376px) {
  .bg-card {
    float: none;
    display: block;
    width: 100%;
    height: 250px;
    background: url("/images/bg-main-mobile.png");
  }
  .bg-card .card-fornt {
    top: 130px;
    left: 40%;
    transform: translateX(-40%);
    z-index: 111;
  }
  .bg-card .card-back {
    top: 30px;
    z-index: 99;
    left: 70%;
    transform: translateX(-70%);
  }
  .form-submit {
    margin-top: 150px;
    align-items: normal;
    text-align: center;
    width: 100%;
  }
  .form-submit .form {
    padding: 0 1rem;
    text-align: left;
  }
  .form-submit .form h4 {
    text-align: left !important;
  }
  .form-submit .form:nth-of-type(3) {
    width: 45%;
  }
  .form-submit #submit {
    width: 90%;
  }
}
@media screen and ((min-width: 376px) and (max-width: 500px)) {
  .bg-card {
    float: none;
    display: block;
    width: 100%;
    height: 250px;
    background: url("/images/bg-main-mobile.png");
  }
  .bg-card .card-fornt {
    top: 130px;
    left: 40%;
    transform: translateX(-40%);
    z-index: 111;
  }
  .bg-card .card-back {
    top: 30px;
    z-index: 99;
    left: 70%;
    transform: translateX(-70%);
  }
  .form-submit {
    margin-top: 150px;
    width: 100%;
    align-items: normal;
    text-align: center;
  }
  .form-submit .form {
    padding: 0 3rem;
    text-align: left;
  }
  .form-submit .form h4 {
    text-align: left !important;
    width: 130px;
  }
  .form-submit .form:nth-of-type(3) {
    width: 50%;
  }
  .form-submit #submit {
    width: 90%;
  }
}
@media screen and (max-width: 1096px) {
  .bg-card {
    float: none;
    display: block;
    width: 100%;
    height: 250px;
    background: url("/images/bg-main-mobile.png");
  }
  .bg-card .card-fornt {
    top: 130px;
    left: 40%;
    transform: translateX(-40%);
    z-index: 111;
  }
  .bg-card .card-back {
    top: 30px;
    z-index: 99;
    left: 70%;
    transform: translateX(-70%);
  }
  .form-submit {
    margin-top: 150px;
    align-items: normal;
  }
}/*# sourceMappingURL=main.css.map */